.top-subtitle {
    margin-left: 21.5%;
    margin-top: 50px;
}

.top-info {
    color: #484349;
}

.top-para {
    font-size: 17px;
    margin-left: 21.5%;
    margin-right: 21.5%;
    margin-bottom: 75px;
}

.courses {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 70px;
    width: 60%;
    margin-left: 19.5%;
}

.courses > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-info {
    background-color: rgb(255, 255, 255);
    color: #484349;
    width: 330px;
    height: 170px;
    padding: 0px 10px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link-btn-course {
    background-color: #484349;
    color: #0dc5b0;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    margin-left: 1px;
    border-radius: 3px;
}

.link-btn-course:hover {
    background-color: #534e54;
    color:#11d3bd;
}

.placeholder-info {
    width: 350px;
    box-shadow: none;
}

.course-img {
    width: 350px;
}