.main-info {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.main-info > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-info {
    background-color: rgb(255, 255, 255);
    color: #484349;
    width: 320px;
    height: 164px;
    padding: 0px 10px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link-btn {
    background-color: #484349;
    color: #0dc5b0;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    margin-left: 1px;
    border-radius: 3px;
}

.link-btn:hover {
    background-color: #534e54;
    color: #11d3bd;
}

#cert-img {
    width: 340px;
}