body {
    background-color: #F7F0F0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header-bar {
    display: flex;
    background-color: #484349;
    gap: 12px;
    height: 55px;
    align-items: center;
}

.header-btn-main {
    color: #0dc5b0;
    text-decoration: none;
    font-size: 25px;
    margin-left: 30px;
    margin-right: 5px;
}

.header-btn, .header-btn-current {
    color: #969696;
    text-decoration: none;
    font-size: 16px;
}

.header-btn-current {
    font-weight: 600;
    color: #bababa;
}

.header-btn-main:hover {
    color: #d5fffb;
}

.no-shadow {
    margin-top: 4px;
    box-shadow: none;
    width: 65px;
}

.header-btn:hover {
    color: #bababa;
    font-weight: 600;
}

.github-subtitle .header-link img:hover {
    content: url('images/githubh.png');
}

.linkedin-subtitle .header-link img:hover {
    content: url('images/linkedinh.png');
}

.top-subtitle {
    margin-left: 21.5%;
    margin-top: 50px;
}

.top-info {
    color: #484349;
}

.top-para {
    font-size: 17px;
    margin-left: 21.5%;
    margin-right: 21.5%;
    margin-bottom: 75px;
}

.main-info {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.main-info > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-info {
    background-color: rgb(255, 255, 255);
    color: #484349;
    width: 320px;
    height: 164px;
    padding: 0px 10px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link-btn {
    background-color: #484349;
    color: #0dc5b0;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    margin-left: 1px;
    border-radius: 3px;
}

.link-btn:hover {
    background-color: #534e54;
    color: #11d3bd;
}

.about-section {
    display: flex;
    margin-top: 35px; 
    margin-left: 50px;
    color: #484349;
}

.timeline-img {
    box-shadow: none;
    width: 550px;
    margin: auto;
}

.information {
    width: 55%;
    margin-top: 40px;
    margin-right: 100px;
    margin-left: 5%;
}

.about-para {
    font-size: 20px;
}

.about-links {
   display: flex;
   gap: 20px;
   color: #0dc5b0;
   font-weight: 600;
   font-size: 30px;
   align-items: center;
   margin-top: 50px;
   margin-left: 10%;
   width: 1000px;
}

.about-img {
    box-shadow: none;
    width: 175px;
    vertical-align: middle;
}

.about-cv, .about-git, .about-linkedin {
    background-color: #484349;
    border-radius: 5px;
    width: 250px;
    height: 65px;
    text-align: center;
    align-items: center;
    line-height: 2;
    text-decoration: none;
    color: #0dc5b0;
}

.about-cv:hover, .about-git:hover, .about-linkedin:hover {
    background-color: #534e54;
    color: #11d3bd;
}

.about-cv {
    line-height: 2.2;
}

.courses {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 70px;
    width: 60%;
    margin-left: 19.5%;
}

.courses > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-img {
    width: 500px;
}

.course-info {
    background-color: rgb(255, 255, 255);
    color: #484349;
    width: 480px;
    height: 150px;
    padding: 0px 10px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link-btn-course {
    background-color: #484349;
    color: #0dc5b0;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    margin-left: 1px;
    border-radius: 3px;
}

.link-btn-course:hover {
    background-color: #534e54;
    color:#11d3bd;
}

.placeholder-info {
    width: 350px;
    box-shadow: none;
}

.courses {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 70px;
    width: 60%;
    margin-left: 19.5%;
}

.course-img {
    width: 350px;
}

.course-info {
    background-color: rgb(255, 255, 255);
    color: #484349;
    width: 330px;
    height: 170px;
    padding: 0px 10px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link-btn-course {
    background-color: #484349;
    color: #0dc5b0;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    margin-left: 1px;
    border-radius: 3px;
}

.cs50w-links {
    display: flex;
    gap: 75px;
}

.course-details {
    display: flex;
}

.course-details-para {
    margin-left: 21.5%;
    width: 620px;
    color: #484349;
}

li {
    margin-top: 15px;
}

.skills-list {
    display: flex;
    margin-left: 20px;
    gap: 130px;
}

.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    margin-top: 20px;
}

.certificate-img {
    width: 400px;
    border-radius: 5px;
}

.certificate-btn, .certificate-btn-mobile {
    display: block;
    text-decoration: none;
    color:#0dc5b0;
    background-color: #484349;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
    width: 350px;
    text-align: center;
    margin-top: 25px;
}

.certificate-btn-mobile {
    display: none;
}

.f1pred-links {
    display: flex;
    gap: 110px;
}

.project-info {
    display: flex;
    gap: 60px;
}

.f1-project-info-btn, .schedule-project-info-btn {
    box-shadow: none;
    width: 25px;
    height: 25px;
    margin-left: 50px;
}

.schedule-project-info-btn {
    margin-left: 85px;
}

.f1-project-info-btn:hover, .schedule-project-info-btn:hover {
    cursor: pointer;
}

.graphics {
    position: fixed;
    text-align: center;
    color: #484349;
    display: inline-block;
    background-color: white;
    margin-left: 24.5%;
    z-index: 10;
    top: 80px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: none;
}

.graphic-img, .graphic-img-2 {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 160px;
    box-shadow: none;
}

.graphic-img-2 {
    width: 320px;
}

.graphic-gif, .graphic-gif-2 {
    margin: 0px 0px 10px 10px;
    width: 160px;
    box-shadow: none;
}

.graphic-gif-2 {
    width: 320px;
}

.graphic-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn, .close-btn-2 {
    width: 20px;
    box-shadow: none;
    position: absolute;
    right: 20px;
    height: auto;
}

.close-btn:hover {
    cursor: pointer;
}

.header-graphics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

.graphic-title {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.graphic-link {
    text-decoration: underline;
    color: #0808e7;
}

.graphic-link:hover {
    cursor: pointer;
}

.about-body {
    transition: filter 0.2s ease-out
}

.mobile-header-bar {
    display: none;
    background-color: #484349;
    justify-content: space-between;
    height: 55px;
    align-items: center;
}

.dropdown-img {
    width: 30px;
    padding: 8px 12px;
    margin-right: 10px;
    box-shadow: none;
    border:#969696 1px solid;
    border-radius: 5px;
}

.dropdown-img:hover {
    cursor: pointer;
}

.mobile-dropdown {
    background-color: #484349;
    padding-left: 30px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
}

.mobile-dropdown.show {
    max-height: 300px;
}

.dropdown-title {
    margin-bottom: 15px;
}

@media (max-width: 640px) {
    .header-bar {
        display: none;
    }

    .mobile-header-bar {
        display: flex;
    }

    .top-para, .about-para, .about-title {
        text-align: center;
    }

    .top-subtitle {
        text-align: center;
        margin-left: 0;
    }

    .about-git {
        display: none;
    }

    .about-linkedin {
        display: none;
    }

    .timeline-img {
        display: none;
    }

    .information {
        width: 80%;
    }

    .about-body {
        margin: 0;
    }

    .body-about {
        overflow-x: hidden;
    }

    .certificate-img, .certificate-btn {
        display: none;
    }

    .certificate-btn-mobile {
        display: block;
    }

    .course-details {
        justify-content: center;
    }

    .course-details-para {
        text-align: center;
        margin-left: 12%;
    }
}

@media (min-width: 641px) {
    .mobile-dropdown {
        display: none;
    }
}

.course-details-popup {
    background-color: white;
    color: #484349;
    position: fixed;
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    padding: 0px 100px 50px 100px;
    box-sizing: border-box;
    display: none;
}

.skills-list-2 {
    text-align: left;
    display: flex;
    gap: 130px;
    justify-content: center;
}

.close-btn-2 {
    top: 20px;
}

.close-btn-2:hover {
    cursor: pointer;
}

.first-year, .second-year {
    color: #484349;
}

#first-year-title, #second-year-title {
     border-bottom: #484349 solid 2px;
     width: 57%;
     margin: auto;
     margin-bottom: 25px;
}

#second-year-title {
    text-align: right;
}

.uni-project {
    display: flex;
    margin: auto;
    width: 57%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 25px;
}

.uni-project.right {
    justify-content: flex-end;
    text-align: right;
}

.uni-project.last {
    margin-bottom: 50px;
}

#uni-project-title {
    margin: 30px 0px 0px 0px;
    font-size: 24px;
}

#uni-project-info {
    margin: 0px;
    font-size: 12px;
}

#uni-project-desc {
    margin: 15px 0px 0px 0px;
    font-size: 18px;
}

#uni-project-desc-s {
    margin: 15px 0px 0px 0px;
    font-size: 16px;
}

#uni-project-img {
    border-radius: 20px;
    height: 200px;
    margin: 25px;
    box-shadow: none;
}

#uni-project-list-left {
    margin-right: 10%;
    padding: 0px;
}

#uni-project-list-left-l {
    margin-right: 1%;
    padding: 0px;
}

#uni-project-list-right {
    margin-left: 10%;
    padding: 0px;
}

.uni-project-lists {
    display: flex;
    list-style-position: inside;
}

#uni-list-title {
    margin: 10px;
}

#list-item {
    margin: 10px;
}

.uni-project-lists.right {
    display: flex;
    justify-content: flex-end;
}

#uni-project-list-right {
    margin-left: 1%;
    text-align: left;
}